/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Container styles */
.container {
    display: flex;
    align-items: flex-start; /* Align filter and product containers horizontally */
    padding-top: 20px;
    gap: 20px;
}

/* Filters styles */
.product-control {
    flex: 0 0 20%;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    position: sticky;
    top: 60px;
    margin-left: 15px;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-control h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-control label {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    display: block;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap:15px;
}

.quantity-controls .quantity-button {
    width: 30px;
    height: 30px;
    background-color: #009688;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-controls .quantity-button:hover {
    background-color: #00796b;
}

.product-control input[type="number"] {
    width: 60px;
    padding: 8px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
}

.product-control button {
    background-color: #009688;
    color: white;
    padding: 6px 12px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.product-control button:hover {
    background-color: #00796b;
}

.product-control p {
    font-size: 20px;
    font-weight: bold;
    color: #004d40;
    margin-top: 20px;
    padding-top: 0;
}

/* Products list styles */
.products-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    background-color: #f4f4f4;
    align-items: flex-start;
}

.product-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(25% - 15px); /* 4 items per row */
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
    border: 2px solid transparent; /* default border */
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}

.product-item.selected {
    border: 2px solid #ffcc00; /* Taratanci yellow border */
}

.product-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.product-item h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #004d40;
    text-align: center;
}

.product-item p {
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
    text-align: center;
}

.product-item .price {
    color: #d9534f; /* Red color for original price */
    text-decoration: line-through;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-item .special-price {
    color: #009688; /* Green color for special price */
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-item .discount-stamp {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #ffcc00; /* Taratanci yellow */
    color: #004d40; /* Taratanci dark green */
    padding: 5px 10px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 10px; /* Shrink size by 30% */
}

/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 80%; /* Align to products list width */
    margin-left: 300px;
    margin-right: auto;
}

.pagination button {
    padding: 6px 12px;
    margin: 0 5px;
    border: none;
    background-color: #009688;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
    background-color: #00796b;
}

.pagination span {
    margin: 0 10px;
    font-size: 16px;
}

/* Responsive styles */
@media screen and (max-width: 1024px) {
    .product-item {
        width: calc(33.3333% - 10px); /* 3 items per row */
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .product-control {
        width: 100%;
        margin-bottom: 20px;
    }

    .products-list {
        width: 100%;
    }

    .product-item {
        width: calc(50% - 10px); /* 2 items per row */
    }
}

@media screen and (max-width: 480px) {
    .product-item {
        width: 100%; /* 1 item per row */
    }

    .pagination {
        width: 100%;
        justify-content: center;
        margin-left: 0;
    }
}