/* General styles for header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004d40; /* Taratanci dark green */
    color: #fff;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo a {
    color: #ffcc00; /* Taratanci yellow */
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

header .nav-links {
    display: flex;
    align-items: center;
}

header .nav-links .welcome-message {
    font-size: 18px;
    font-weight: bold;
    color: #ffcc00; /* Taratanci yellow */
    margin-right: 20px;
}

header .nav-links .username-link {
    color: #ffcc00; /* Taratanci yellow */
    text-decoration: none;
}

header .nav-links .username-link:hover {
    text-decoration: underline;
}

header .nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

header .nav-links .username-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

header .nav-links a:hover {
    font-weight: bold;
}

header .nav-links select {
    background-color: #004d40;
    color: #ffcc00; /* Taratanci yellow */
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

header .nav-links select:hover {
    background-color: #00332e;
}

/* Cart icon styles */
.cart-icon {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.cart-icon img {
    width: 24px;
    height: 24px;
}

.cart-icon .badge {
    position: absolute;
    bottom: -5px;
    right: -10px;
    background-color: #ffcc00; /* Taratanci yellow */
    color: #004d40; /* Taratanci dark green */
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
}