<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - Taratanci WebShop</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body class="login-page">
<header>
    <div class="logo">
        <a th:href="@{/}">Taratanci WebShop</a>
    </div>
</header>

<div class="container">
    <div class="form-container">
        <h2>Login</h2>
        <form id="loginForm" th:action="@{/login}" th:object="${loginRequest}" method="post">
            <div th:if="${errorMessage != null}" class="error-message" th:text="${errorMessage}"></div>
            <div class="form-group" th:classappend="${#fields.hasErrors('username')} ? 'field-error' : ''">
                <div th:if="${#fields.hasErrors('username')}" class="field-error" th:errors="*{username}"></div>
                <label for="username">Username:</label>
                <input type="text" id="username" th:field="*{username}" placeholder="Enter username" required>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'field-error' : ''">
                <div th:if="${#fields.hasErrors('password')}" class="field-error" th:errors="*{password}"></div>
                <label for="password">Password:</label>
                <input type="password" id="password" th:field="*{password}" placeholder="Enter password" required>
            </div>
            <input type="hidden" name="redirectUrl" th:value="${redirectUrl}">
            <button type="submit">Login</button>
        </form>
        <div class="additional-links">
            <a th:href="@{/signup}" class="signup-button">Don't have an account? Sign Up!</a>
        </div>
    </div>
</div>
<script th:src="@{/js/login.js}"></script>
</body>
</html>